main {
  article {
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: larger;
      width: 20vw;

      h1 {
        color: palevioletred;
      }
      h2 {
        color: plum;
      }
      h3 {
        color: powderblue;
      }
    }
  }
}
