div {
  display: inline-block;
  padding: 15px;
  border-radius: 8px;

  input {
    margin: 10px;
    padding: 8px;
    border: 4px inset rgba(64, 4, 104, 0.76);
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
  }
  button {
    padding: 8px;
    border: 4px inset rgb(163, 70, 101);
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
  }
}
