*{
  font-family: 'Courier New', Courier, monospace;
}

header {
  h1 {
    color: hotpink;
  }
}

main {
  font-size: larger;

  h2 {
    color: plum;
  }
  h3 {
    color: powderblue;
  }
  h4 {
    color: peachpuff;
  }
}
