div {
  font-size: larger;
  border: 2px solid hotpink;
  display: inline-block;
  padding: 1rem;
  h1 {
    color: palegreen;
  }
  h2 {
    color: paleturquoise;
  }
  h3{
    color: palevioletred;
  }
  h4 {
    color: pink
  }
}
