div {
  background-color: rgb(248, 220, 195);
  display: inline-block;
  border: 2px inset black;
  border-radius: 20px;
  padding: 10px;

  h1 {
    color: palevioletred;
  }
  h2 {
    color: rgb(124, 212, 212);
  }
}
