*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
h1 {
  color: hotpink;
}
h2 {
  color: paleturquoise;
}
h3 {
  color: palegreen;
}
h4 {
  color: plum;
}
